*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

/* Custom Properties */

:root {

    --ff-primary: 'Ubuntu', sans-serif;

    --fw-bold: 700;
    --fw-normal: 300;

    --fs-title: 50px;
    --fs-subtitle: 38px;
    --fs-para: 18px;

    --clr-light: rgba(225, 225, 225);
    --clr-dark: rgba(0, 0, 0);
    --clr-one: rgba(40, 40, 40);
    --clr-two: rgba(47, 194, 82);
    --clr-three: rgba(252, 126, 0);
}

/* General Styles */

body {
    font-family: var(--ff-primary);
}

footer {
    bottom: 0;
    left: 0;
    text-align: center;
    position: fixed;
    width: 100%;
    background-color: var(--clr-one);
    color: var(--clr-light);
    padding: 1em;
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: 
    "hours location menu contact";
}

footer.hours {
    grid-area: hours;
}

footer.location {
    grid-area: location;
}

footer.menu {
    grid-area: menu;
    padding: 2em;
}

footer.contact {
    grid-area: contact;
}

/* Class Styles */

.navbar {
    background-color: var(--clr-one);
    overflow: hidden;
}

.navbar a {
    float: left;
    color: var(--clr-light);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: var(--fs-subtitle);
    transition: all 0.4s ease;
}

.nav-home {
    background-color: var(--clr-two);
}

.navbar a:hover {
    background-color: var(--clr-three);
}

.footer-title {
    text-decoration: underline;
    padding: 5px;
}

.menu a {
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    color: var(--clr-light);
    font-weight: var(--fw-bold);
    display: flex;
    flex-direction: column;
    padding-top: 18px;
    padding: 18px;
    cursor: pointer;
    transition: all 0.4s ease;
}

.menu a:hover{
    color: var(--clr-three);
}

.location p {
    padding-top: 1em;
}

.hours p {
    font-size: 15px;
}

.contact a {
    padding: 15px;
    font-size: 30px;
    color: var(--clr-light);
    transition: all 0.4s ease;
}

.contact a:hover {
    color: var(--clr-three);
}