*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

/* Custom Properties */

:root {

    --ff-primary: 'Ubuntu', sans-serif;

    --fw-bold: 700;
    --fw-normal: 300;

    --fs-title: 50px;
    --fs-subtitle: 38px;
    --fs-para: 18px;

    --clr-light: rgba(225, 225, 225);
    --clr-dark: rgba(0, 0, 0);
    --clr-one: rgba(40, 40, 40);
    --clr-two: rgba(47, 194, 82);
    --clr-three: rgba(252, 126, 0);

    --clr-bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.5);
}

/* General Styles */

body {
    font-family: var(--ff-primary);
}

footer {
    bottom: 0;
    left: 0;
    text-align: center;
    position: relative;
    width: 100%;
    background-color: var(--clr-one);
    color: var(--clr-light);
    padding: 1em;
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: 
    "hours location menu contact";
}

footer.hours {
    grid-area: hours;
}

footer.location {
    grid-area: location;
}

footer.menu {
    grid-area: menu;
    padding: 2em;
}

footer.contact {
    grid-area: contact;
}

                /* Class Styles */

/* Misc Class Styles */

.background-wrapper {
    background-color: var(--clr-one);
    padding: 15px;
}

/* Home Page */
.navbar {
    background-color: var(--clr-one);
    overflow: hidden;
}

.navbar a {
    float: left;
    color: var(--clr-light);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: var(--fs-subtitle);
    transition: all 0.4s ease;
}

.nav-home {
    background-color: var(--clr-two);
}

.navbar a:hover {
    background-color: var(--clr-three);
}

.footer-title {
    text-decoration: underline;
    padding: 5px;
}

.menu a {
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    color: var(--clr-light);
    font-weight: var(--fw-bold);
    display: flex;
    flex-direction: column;
    padding-top: 18px;
    padding: 18px;
    cursor: pointer;
    transition: all 0.4s ease;
}

.menu a:hover{
    color: var(--clr-three);
}

.location p {
    padding-top: 1em;
    font-weight: var(--fw-bold);
}

.hours p {
    font-size: 15px;
}

.contact a {
    padding: 15px;
    font-size: 30px;
    color: var(--clr-light);
    transition: all 0.4s ease;
}

.contact a:hover {
    color: var(--clr-three);
}

/* About Page */

.coaches_title {
    font-size: 4em;
    text-align: center;
    margin: 2em;
    background-color: var(--clr-three);
    box-shadow: var(--clr-bs);
    color: var(--clr-light);
    padding: 5px;
    width: 50%;
}

.coaches_wrapper {
    justify-content: center;
    align-items: center;
    background-color: var(--clr-one);
    background-size: 100px;
}

.coach-profile {
    padding: 10px;
    margin: 4em;
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "image name"
    "image text";
}

.profile-img {
    width: 250px;
    grid-area: image;
}

.profile-text {
    grid-area: text;
    padding: 10px;
    color: var(--clr-light);
    font-weight: var(--fw-normal);
}

.profile-name {
    grid-area: name;
    margin: 10px;
    color: var(--clr-light);
    background-color: var(--clr-three);
    width: 12em;
    align-self: center;
    padding: 5px 5px 5px 15px;
}

.facility h1 {
    color: var(--clr-light);
    background: var(--clr-three);
    box-shadow: var(--clr-bs);
    width: 50%;
    padding: 10px;
    margin: 2em;
    text-align: center;
    font-size: 4em;
}

.facility_building {
    background-color: var(--clr-one);
    padding: 10px;
}

.facility_building-imgs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.facility_building-txt {
    text-align: center;
    margin: 2em 5em 2em 5em;
    font-size: 1.5em;
    color: var(--clr-light);
}

.facility-info_location h2,
.facility-info_contact h2 {
    margin: 2em;
    font-size: var(--fs-subtitle);
    color: var(--clr-light);
    background-color: var(--clr-three);
    padding: 10px 15px 10px 15px ;
    box-shadow: var(--clr-bs);
    width: fit-content;
    text-align: center;
}

.facility-info_location p {
    text-align: center;
    font-size: 1.5em;
    padding: 10px;
    color: var(--clr-light);
}

.google-location {
    text-align: center;
    display: block;
    margin: auto;
    padding-bottom: 25px;
    border: none;
    max-width: 600px;
    max-height: 450px;
    min-width: auto;
    min-height: auto;
}

.facility-info_contact {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.facility-info_contact p {
    color: var(--clr-light);
    font-size: 1.5em;
    padding: 25px;
}

.facility-info_contact h3 {
    padding: 10px;
    color: var(--clr-light);
    font-size: 1.5em;
    font-weight: var(--fw-bold);
}

.facility-info_contact a {
    padding: 15px;
    color: var(--clr-light);
    font-size: 2.5em;
    transition: all 0.4s ease;
}

.facility-info_contact a:hover {
    color: var(--clr-three);
}

/* Memberships */

.membership h1 {
    font-size: 4em;
    margin: 2em;
    color: var(--clr-light);
    background-color: var(--clr-three);
    width: fit-content;
    padding: 15px 25px 15px 25px;
    box-shadow: var(--clr-bs);
}

.membership p{
    color: var(--clr-light);
    font-size: 1.2em;
}

.membership h2 {
    margin: 1em;
    color: var(--clr-light);
    background-color: var(--clr-two);
    width: fit-content;
    padding: 10px;
}